* {
  box-sizing: border-box;
}

.box {
  width: 400px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  background-color: #efffff;
  outline: 2px solid #000000;
}

.timer {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 40px;

  color: #000;
  /* background-color: #353d3d; */
}

.field {
  display: flex;
  flex-direction: column;
  width: 70px;

  color: #fefefe;
  background-color: #214141;
  outline: 2px solid #000000;
}

.field:not(:last-child) {
  margin-right: 10px;
}

.value {
  padding: 10px;
  background-color: #172424;
}

.label {
  padding: 5px;
  font-size: 16px;
}
